.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* Custom styles for the toast notification */
.toast-custom-dark {
  background-color: #202529 !important; /* Change to your desired color */
  color: white !important; /* Change to your desired text color */
  /* Add any other custom styles you want */
}

.toast-custom-light {
  background-color: #F8F9FA !important; /* Change to your desired color */
  color: black !important; /* Change to your desired text color */
  /* Add any other custom styles you want */
}

.toast-custom-green {
  background-color: #008000 !important; /* Change to your desired color */
  color: white !important; /* Change to your desired text color */
  /* Add any other custom styles you want */
}

.toast-custom-blue {
  background-color: #0000ff !important; /* Change to your desired color */
  color: white !important; /* Change to your desired text color */
  /* Add any other custom styles you want */
}

.toast-custom-red{
  background-color: red !important;
  color: white !important;
}